@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');

body {
width: 100%;
height: auto;
font-family: arial,sans-serif;
color: black;
    
}
nav{
   float:right;
  padding:5px 25px 5px 5px;
   margin:0px;
   text-align: center;
   line-height: 24px;
   vertical-align: middle;
   
     
 
}
nav a{
    color: black;
}

.dropdown{
    display: inline-block;
    height: 30px;
    width: 45px;
    background-image: url(https://cdn0.iconfinder.com/data/icons/basic-ui-elementsblack/3/40-512.png);
    background-position:center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    
}

.dropdown-menu{

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    box-sizing: content-box;
    margin: 0;
    padding: 17px 0 20px 5px;
    width:220px;
    overflow: hidden;
  }
  
  .dropdown-item img:hover{
    background-color: rgba(16, 42, 238, 0.274);
    
  }

  .main{
      margin-top: 200px;
      margin-left: 500px;
      background-position: center;
  }
  #botton{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 1px 1px;
    padding: 10 16px;
    height: 36px;
    min-width: 54px;
    text-align: start;
    cursor: pointer;
    box-sizing: border-box;
   
    
}
#button:hover{
  background-color: #f2f2f2;
    
}
.input{
    font-family: FontAwesome;
    display: flex;
    border-radius:45px;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    height: 50px;
    font-size: 16px;
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: right;
  }
  .input:hover{
    box-shadow: 0 5px 5px 3px rgba(0,0,0,0.4);
  }
  footer{
    padding-left:20px;
    background-color:#dbdbd9 ;
    
    width: 100%;
    line-height: 50px;
    flex-shrink: none;
    
  }
  .f1{
    background-color:#dbdbd9 ;
    margin-left: 10px;
    border-bottom:solid 2px rgb(185, 185, 185);
    padding:5px;
    text-align:left;
    line-height: 40px;
  }
  .f2{
    background-color:#dbdbd9 ;
    margin-left: 10px;
    padding:5px;
    
  
  }
  .f3{
    background-color:#dbdbd9 ;
    float: right;
    margin-left: 10px;
    margin-right: 5px;
    position: absolute;
    display: flex;
    padding:5px;
    justify-content:flex-end;
    
  
  }
